#content-wrapper{
    position: relative;
    top: 60px;
    padding: 0 0 30px 0;
    margin-bottom: 100px;
    
    #left-column{
        padding: 0;
    }
    .container{
        padding: 0;
    }
    #content{
        padding: 15px 0;
        #left-column{
            #profile-block{
                background-color: $white-color;
                #top{
                    background-color: #1da1f2;
                    height: 95px;
                    background-size: cover;
                    background-position: center;
                }
                #bottom{
                    background-color: $white-color;
                    
                    .avatar-big{
                        position: relative;
                        float: left;
                        display: block;
                        border-radius: 100%;
                        width: 72px;
                        height: 72px;
                        top: -36px;
                        margin-left: 18px;
                        background-size: cover;
                        background-position: center;
                        border: 2px solid $white-color;
                    }
                    h3{
                        font-family: "Segoe UI",Arial,sans-serif;
                        font-size: 1.2rem;
                        font-weight: bold;
                        position: relative;
                        left: 10px;
                        margin-top: 10px;
                        margin-bottom: 3px;
                    }
                    span{
                        font-family: "Segoe UI",Arial,sans-serif;
                        font-size: 1rem;
                        color: #657786;
                        position: relative;
                        left: 10px;
                    }
                    h6{
                        position: relative;
                        padding: 0px 20px;
                        font-family: "Segoe UI",Arial,sans-serif;
                        font-size: 0.8rem;
                        font-weight: bold;
                        color: #657786;
                        top: -15px;
                    }
                    .counter{
                        position: relative;
                        color: #1da1f2;
                        font-family: "Segoe UI",Arial,sans-serif;
                        font-weight: bold;
                        top: -10px;
                        left: 20px;
                    }
                }
            }
            #tweet-box{
                margin-top: 15px;
                background-color: $white-color;
                padding: 15px 20px !important;
                
                .clearfix{
                    margin-bottom: 15px;
                }
                h1{
                    font-size: 1.3rem;
                    font-weight: bold;
                    padding-bottom: 15px;
                }
                textarea{
                    display: block;
                    float: left;
                    width: 100%;
                }
                .cta-button{
                    margin-top: 10px;
                    background-color: #1da1f2;
                    color: #ffffff;
                    border-radius: 25px;
                    font-weight: bold;
                    border: none;
                    padding: 9px 20px;
                    width: 100%;
                }
            }
        }
        #middle-column{
            margin-bottom: 50px;
            padding-right: 0;
            
            .tweet-block, .table>tbody>tr>td{
                border-top: 1px solid #e6ecf0 !important;
                padding: 20px 25px !important;
                background-color: $white-color;
                
                small{
                    font-size: 0.8rem;
                    position: absolute;
                    bottom: -9px;
                }
                .avatar-big{
                    position: relative;
                    float: left;
                    display: block;
                    border-radius: 100%;
                    width: 72px;
                    height: 72px;
                    left: -20px;
                    background-size: cover;
                    background-position: center;
                    border: 2px solid $white-color;
                }
                .userthings{
                    b{
                        color: #000;
                    }
                    padding-bottom: 7px;
                    span{
                        font-size: 0.9rem;
                    }
                    .times{
                        position: absolute;
                        right: -20px;
                        top: 4px;
                        font-size: 0.7rem;
                        color: #8e8e8e;
                    }
                }
                .tweetinsidecontent{
                    font-size: 0.9rem;
                    padding-bottom: 20px;
                }
            }
            #no-mentions{
                padding: 15px 20px;
            }
            .fa-heart-o, .fa-heart{
                margin-right: 10px;
                font-size: 1rem;
                
                &:hover{
                    color: red;
                    text-decoration: none;
                }
                &:focus{
                    text-decoration: none;
                }
            }
            .fa-heart{
                color: red;
            }
            .ui-tabs .ui-tabs-nav li a,
            .ui-tabs .ui-tabs-nav li{
                &:hover{
                    background-color: $white-color !important;
                    box-shadow: none !important;
                    border: none !important;
                }
            }
            .ui-widget-content{
                padding: 0 !important;
            }
            .ui-tabs .ui-tabs-nav{
                background-color: $white-color !important;
                padding-bottom: 17.5px !important;
            }
            .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
                background-color: $white-color !important;
            }
            .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
                border: none !important;
            }
            .ui-tabs .ui-tabs-nav li a{
                float: left;
                padding: 10px 0px 0 20px;
                text-decoration: none;
                outline: 0;
                font-size: 1.2rem;
            }
            .ui-widget-content{
                border: none;
            }
        }
        #right-column{
            #trends{
                background-color: $white-color;
                padding: 15px 20px !important;
                
                h3{
                    font-size: 1.3rem;
                    font-weight: bold;
                    padding-bottom: 15px;
                }
            }
        }
    }
}
