<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    
    <div id="navigation" class="col-xs-12">
        <div class="container">
            <span id="logo" class="fa fa-twitter" />
            <ul id="left">
                <li>
                    <a href="homepage.xhtml">
                        <span class="fa fa-home"></span>
                        Startpagina
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa fa-bell-o"></span>
                        Meldingen
                    </a>
                </li>
                <li>
                    <a href="users.xhtml">
                        <span class="fa fa-users"></span>
                        Gebruikers
                    </a>
                </li>
            </ul>
            <ul id="right">
                <li>
                    <h:form>
                        <h:commandLink id="logoutBtn" action="#{authBean.doLogout()}">
                            Uitloggen
                        </h:commandLink>
                    </h:form>
                </li>
                <li>
                    <a class="avatar" href="mytweets.xhtml" style="background-image: url('uploads/#{userBean.getUser().getProfile().avatar}')"></a>
                </li>
            </ul>
        </div>    
    </div>    
</ui:composition>