<ui:composition template="app.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="navigation">
        <ui:include src="/partials/navigation.xhtml" />      
    </ui:define>
    
    <ui:define name="header">
        <div id="header" class="col-xs-12" style="background-image: url('uploads/#{userBean.getUser().getProfile().image}')"></div>
    </ui:define>
    
    <ui:define name="content">
        <div class="col-xs-12 extra-nav-bar">
            <div class="container">
                <div class="col-xs-9 col-xs-push-3">
                    <div class="col-xs-12">
                        <a href="following.xhtml" class="label-counter-wrapper">
                            <span class="label-counter">
                                Following
                            </span>
                            <div class="clearfix"></div>
                            <span class="counter">
                                #{userBean.getUser().following.size()}
                            </span>
                        </a>
                        <a href="followers.xhtml" class="label-counter-wrapper">
                            <span class="label-counter">
                                Followers
                            </span>
                            <div class="clearfix"></div>
                            <span class="counter">
                                #{userBean.getUser().followers.size()}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content-wrapper" class="mytweets container">
            <div id="content" class="col-xs-12">   
                <div class="col-xs-3" id="left-column">
                    <div class="avatar-extra-big" style="background-image: url('uploads/#{userBean.getUser().getProfile().avatar}')"></div>
                    <h3>#{userBean.getUser().firstname} #{userBean.getUser().lastname}</h3>
                    <span>@#{userBean.getUser().username}</span>
                    <p>#{userBean.getUser().getProfile().biography}</p>
                </div>
                
                <div class="col-xs-9 no-padding-right" id="right-column">
                    <div class="col-xs-12" id="following-follower-section">
                        
                        <c:forEach var="user" items="#{userBean.getAllFollowers()}" varStatus="loop">                   
                            <div class="col-xs-4 no-padding-left">
                                <div class="profile-block col-xs-12 no-padding">
                                    <div id="top" style="background-image: url('uploads/#{user.getProfile().image}')"></div>
                                    <div id="bottom" class="col-xs-12 no-padding">
                                        <div class="avatar-big" style="background-image: url('uploads/#{user.getProfile().avatar}')"></div>
                                        <h3>#{user.firstname} #{user.lastname}</h3>
                                        <span>@#{user.username}</span>
                                        <p>#{user.getProfile().biography}</p>
                                    </div>
                                </div>    
                            </div>
                        </c:forEach>  
                    </div>    
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>