<ui:composition template="app.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="navigation">
        <ui:include src="/partials/navigation.xhtml" />      
    </ui:define>
    
    <ui:define name="header">
        <div id="header" class="col-xs-12" style="background-image: url('uploads/#{userBean.getUser().getProfile().image}')"></div>
    </ui:define>
    
    <ui:define name="content">
        <div class="col-xs-12 extra-nav-bar">
            <div class="container">
                <a href="profile.xhtml" class="cta-button col-xs-2 col-xs-push-10 no-padding">Profiel Bewerken</a>
            </div>
        </div>
        <div id="content-wrapper" class="mytweets container">
            <div id="content" class="col-xs-12">   
                <div class="col-xs-3" id="left-column">
                    <div class="avatar-extra-big" style="background-image: url('uploads/#{userBean.getUser().getProfile().avatar}')"></div>
                    <h3>#{userBean.getUser().firstname} #{userBean.getUser().lastname}</h3>
                    <span>@#{userBean.getUser().username}</span>
                    <p>#{userBean.getUser().getProfile().biography}</p>
                    <span>#{userBean.getUser().getProfile().location}</span>
                
                    <div id="tweet-box" class="col-xs-12">
                        <h1>What's happening?</h1>
                        <h:form id="tweeting">
                            <p:inputTextarea id="content" value="#{tweetBean.content}" required="true" rows="5" cols="30" counter="display" maxlength="160" counterTemplate="{0} characters remaining." autoResize="false" />
                            <h:outputText id="display" />
                            <p:message for="content" />
                            <h:commandButton class="cta-button" value ="POST TWEET" action="#{tweetBean.addTweet()}"/>
                        </h:form>
                    </div>
                </div>
                
                <div class="col-xs-6" id="middle-column">
                    <h:form id="theForm">
                        <h:panelGroup id="tweets">
                            <c:forEach id="tweetsTable" class="table" var="tweet" items="#{userBean.getLatestTweets()}" varStatus="loop">  
                                <div class="tweet-block col-xs-12 no-padding">
                                    <h:column>
                                        <div class="col-xs-2">
                                            <a href="user.xhtml?userID=#{userBean.getUserByTweetID(tweet.id).id}" class="avatar-big" style="background-image: url('uploads/#{userBean.getUserByTweetID(tweet.id).getProfile().getAvatar()}')"></a>
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="userthings col-xs-12 no-padding">
                                                <b><h:outputText value ="#{userBean.getUserByTweetID(tweet.id).firstname} #{userBean.getUserByTweetID(tweet.id).lastname}" /></b>
                                                <span>@<h:outputText value ="#{userBean.getUserByTweetID(tweet.id).username}" /></span>
                                                <span class="times">
                                                <h:outputText value="#{tweet.created_at}" >
                                                        <f:convertDateTime pattern="dd-MMM-yyyy" />
                                                    </h:outputText>
                                                    <p:spacer width="10" />
                                                    <h:outputText value="#{tweet.created_at}">
                                                        <f:convertDateTime pattern="HH:mm" />
                                                    </h:outputText>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="tweetinsidecontent col-xs-12 no-padding">
                                                <h:outputText value ="#{tweet.content}" />
                                                <br/><br/>
                                                <small>  
                                                    <c:if test="#{tweetBean.isFavoriteTweet(tweet.id) == true}">
                                                        <h:commandLink id="favoriteBtn" action="#{tweetBean.addFavoriteTweet(tweet.id)}">
                                                            <span class="fa fa-heart-o"></span>
                                                        </h:commandLink>
                                                    </c:if>
                                                    <c:if test="#{tweetBean.isFavoriteTweet(tweet.id) == false}">
                                                        <h:commandLink id="favoriteBtn" action="#{tweetBean.removeFavoriteTweet(tweet.id)}">
                                                            <span class="fa fa-heart"></span>
                                                        </h:commandLink>
                                                    </c:if>
                                                </small>
                                            </div>
                                        </div>
                                    </h:column> 
                                </div>
                            </c:forEach>   
                            <c:if test="#{empty userBean.getLatestTweets()}">
                                <div id="no-tweets">
                                    Deze user heeft nog geen tweets
                                </div>
                            </c:if>
                        </h:panelGroup>
                    </h:form>
                </div>

                <div class="col-xs-3 no-padding-right" id="right-column">
                    <div class="col-xs-12" id="trends">
                        <h3>Trends</h3>
                        <h:panelGroup id="timeline">
                            <h:form>
                                <h:dataTable class="table" rendered="#{not empty tweetBean.getTrends()}" value="#{tweetBean.getTrends()}" var ="tweet">
                                    <h:column>
                                        #<h:outputLabel value="#{tweet.subject}"/>  
                                    </h:column> 
                                </h:dataTable>
                                <c:if test="#{empty tweetBean.getTrends()}">
                                    Er zijn momenteel geen trends
                                </c:if>
                            </h:form>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>