<ui:composition template="app.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="navigation">
        <ui:include src="/partials/navigation.xhtml" />      
    </ui:define>
    
    <ui:define name="header">
        <div id="header" class="col-xs-12" style="background-image: url('uploads/#{userBean.getUser().getProfile().image}')"></div>
    </ui:define>
    
    <ui:define name="content">
        <div id="content-wrapper" class="container profile">
            <div id="content" class="col-xs-12">   
                <div class="col-xs-3" id="left-column"></div>
                
                <div class="col-xs-6" id="middle-column">
                    <h:form enctype="multipart/form-data">
                        <p:outputLabel for="avatar" value="Avatar" />
                        <p:fileUpload required="true" id="avatar" value="#{profileBean.file}" mode="simple" skinSimple="true"/>
                        
                        <div class="clearfix"></div>
                        
                        <p:outputLabel for="biography" value="Biography" />
                        <p:inputText id="biography" value="#{profileBean.biography}" required="true" />
                        <p:message for="biography" />
                        
                        <div class="clearfix"></div>
                        
                        <p:outputLabel for="image" value="Image" />
                        <p:fileUpload required="true" id="image" value="#{profileBean.imageFile}" mode="simple" skinSimple="true"/>
                        
                        <div class="clearfix"></div>
                        
                        <p:outputLabel for="location" value="Location" />
                        <p:inputText id="location" value="#{profileBean.location}" required="true" />
                        <p:message for="location" />
                        
                        <div class="clearfix"></div>
                        
                        <p:outputLabel for="website" value="Website" />
                        <p:inputText id="website" value="#{profileBean.website}" required="true" />
                        <p:message for="website" />
                        
                        <div class="clearfix"></div>
                        
                        <p:commandButton value="Submit" ajax="false" actionListener="#{profileBean.upload}" disabled="false" />
                    </h:form>
                </div>

                <div class="col-xs-3 no-padding-right" id="right-column"></div>
            </div>
        </div>
    </ui:define>
</ui:composition>