<ui:composition template="app.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="navigation">
        <ui:include src="/partials/navigation.xhtml" />      
    </ui:define>
    
    <ui:define name="content">
        <div id="content-wrapper" class="mytweets container">
            <div id="content" class="col-xs-12">   
                <div class="col-xs-12" id="right-column">
                    <div class="search-wrapper col-xs-6 col-xs-push-3">
                        <h:panelGroup>
                            <h:form class="page-header">
                                <div class="input-wrapper">
                                    <h:inputText pt:placeholder="Search for users..." value="#{userBean.filter}" id="filter" class="form-control no-padding"></h:inputText> 
                                    <h:commandLink id="btnsearch"
                                        action="search.xhtml"
                                        styleClass="btn btn-default">
                                        <i class="fa fa-search"></i> 
                                        <f:ajax event="click" execute="@form" render="@all" listener="#{userBean.getTheUsers()}" />
                                    </h:commandLink>
                                </div>
                            </h:form>
                        </h:panelGroup>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12" id="following-follower-section">
                        
                        <c:forEach var="user" items="#{userBean.users}" varStatus="loop">
                            <c:if test="#{user.id != userBean.getUser().id}">
                                <div class="col-xs-3 no-padding-left">
                                    <div class="profile-block col-xs-12 no-padding" style="height: 280px;">
                                        <div id="top" style="background-image: url('uploads/#{user.getProfile().image}')"></div>
                                        <div id="bottom" class="col-xs-12 no-padding">
                                            <a href="user.xhtml?userID=#{user.id}" class="avatar-big" style="background-image: url('uploads/#{user.getProfile().avatar}')"></a>
                                            <h3>#{user.firstname} #{user.lastname}</h3>
                                            <span>@#{user.username}</span>
                                            <p>#{user.getProfile().biography}</p>
                                            <h:form id="theForm">
                                                <c:if test="#{userBean.isFollowing(user.id) == true}">
                                                    <h:commandLink id="followBtn" action="#{userBean.addFollowing(user.id)}" class="cta-button col-xs-12">
                                                        Volgen
                                                    </h:commandLink>
                                                </c:if>
                                                <c:if test="#{userBean.isFollowing(user.id) == false}">
                                                    <h:commandLink id="followBtn" action="#{userBean.removeFollowing(user.id)}" class="cta-button col-xs-12">
                                                        Ontvolgen
                                                    </h:commandLink>
                                                </c:if>
                                            </h:form>
                                        </div>
                                    </div>    
                                </div>
                            </c:if>
                        </c:forEach>    
                    </div>    
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>